.ShoppingCartHeading{
    width: 100%;
    height: 80px;
    display:flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
@media all and (min-width:780px) and (max-width:1020px){
    .ShoppingCartHeading{
        font-size: medium;
    }
}
@media all and (max-width:779px){
    .ShoppingCartHeading{
        font-size: small;
    }
}