.SearchBox {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* max-width: 100%; */
}

.InputBox {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: large;
  padding: 10px;
  width: 20%;
  /* min-width: 200px; */
  height: 30px;
  font-weight: bold;
}

.SearchButton {
  background-color: black;
  width: 50px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 2s, height 2s, transform 2s;
}
.SearchButton:hover {
  width: 55px;
  height: 40px;
  transform: rotate(360deg);
}
 @media all and (min-width:780px) and (max-width:1200px){
  .InputBox{
    min-width:200px;
  }
  .SearchButton{
    width: 45px;
    height: 30px;
  }
 }
 @media all and (max-width:779px){
  .InputBox{
    min-width:180px;
  }
  .SearchButton{
    width: 45px;
    height: 30px;
  }
 }
